@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: #CEF0F8;
  font-family: 'Inter';

  display: grid;
  padding: 4%;
}

body > * {
  margin-top: 1%;
  padding: 1%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1{
  font-weight: bold;
  font-size: 2.5vmax;
  color: #6095A5;
}

.refreshButton:hover {
  background: #6095A5;
}


.refreshButton {
  border-radius: 1vmax;
  width: 18.5vmax;
  height: 3.5vmax;
  font-size: 1.3vmax;

  border: none;
  outline: none;

  background: #215D70;
  color: #E7FBFF;
}

main{
  display: grid;
  background: #E7FBFF;
}

main > * {
  margin-top: 1%;
  padding: 1%;
}

/*Main City*/

.gridMainCity{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vmax;
}

.gridMainCity > * {
  margin: 1%;
  padding: 1%;
}

h2{
  font-weight: lighter;
  font-size: 2vmax;
  color: #215D70;
}

.mainCityInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconMain{
  width: 12vmax;
  height: 12vmax;
}

.mainTempurature{
  font-weight: lighter;
  font-size: 6vmax;
  color: #6095A5;
}

.mainIndicators{
  font-weight: lighter;
  color: #E7FBFF;

  display: flex;
  align-items: center;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 2%;
  width: 100%;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2%;

  background: #79BACE;
  border-radius: 1vmax;
}

li > * {
  margin: 2%;
  color: #E7FBFF;
  font-weight: lighter;
}

.nameIndicators{
  font-size: 1.2vmax;
}

.indicators{
  font-size: 0.8vmax;
}


/*Favourites*/

.divFavourites{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-weight: bold;
  font-size: 2.5vmax;
  color: #6095A5;
}

.inputDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 50%;
}

.inputText {

  width: 80%;

  display: inline;
  height: 3.5vmax;
  font-size: 1vmax;
  padding: 0.5% 0.5%;

  border: none;
  outline: none;

  font-family: 'Inter';
}


.smallButton:hover {
  background: #215D70;
}


.smallButton {
  border-radius: 100%;
  width: 3.5vmax;
  height: 3.5vmax;
  font-size: 2vmax;

  border: none;
  outline: none;

  background: #6095A5;
  color: #E7FBFF;
}

/*Cities*/

.Cities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

.city {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  margin-top: 2%;
}

.cityInformation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 95%;
  margin: 1%;
  padding: 1%;
}

h4 {
  font-family: 'Inter';
  font-size: 2vmax;
  color: #215D70;
  font-weight: lighter;
}

.cityImgDegree{
  display: flex;
  justify-content: center;
}

.iconCity {
  width: 6vmax;
  height: 6vmax;
}

.cityTempurature {
  font-family: 'Inter';
  font-size: 2vmax;
  color: #6095A5;
  font-weight: lighter;
}

@media all and (max-width: 1000px){
  .gridMainCity {
    grid-template-columns: 1fr;
  }

  .Cities {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 360px) {
  body{
    overflow-x: scroll;
  }
}
