@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
  background-color: #CEF0F8;
  font-family: 'Inter';

  display: grid;
  margin: auto;
  max-width: 1200px;
}

body > * {
  margin-top: 10px;
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
}

h1{
  font-weight: bold;
  font-size: 35px;
  color: #6095A5;
}

.refresh-button:hover {
  background: #6095A5;
}


.refresh-button {
  border-radius: 20px;
  width: 210px;
  height: 50px;
  font-size: 15px;

  border: none;
  outline: none;

  background: #215D70;
  color: #E7FBFF;
}

.img-refresh {
  width: 35px;
  height: 35px;
}

main{
  display: grid;
  background: #E7FBFF;
  max-width: 1200px;
}

main > * {
  margin-top: 10px;
  padding: 10px;
}

/*Main City*/

.flex-main-city{
  display:flex;

  justify-content: space-between;

  align-items: center;
}

.flex-main-city > * {
  margin: 10px;
  padding: 10px;
}

h2{
  font-weight: lighter;
  font-size: 30px;
  color: #215D70;
}

.main-city {
  width: 50%;
  text-align: center;
}

.main-city-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-main{
  width: 150px;
  height: 150px;
}

.main-tempurature{
  font-weight: lighter;
  font-size: 80px;
  color: #6095A5;
}


.ul-main-city {
  list-style-type: none;
  padding: 0;
  margin: 20px;
  width: 50%;
}

.ul-main-city li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  background: #79BACE;
  border-radius: 10px;
}

li > * {
  margin: 10px;
  color: #E7FBFF;
  font-weight: normal;
}


.ul-city {
  list-style-type: none;
  padding: 0;
  margin: 20px;
  width: 100%;
}

.ul-city li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;

  background: #79BACE;
  border-radius: 10px;
}



.name-indicators{
  font-size: 16px;
}

.indicators{
  font-size: 16px;
}


/*Favourites*/

.div-favourites{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h3 {
  font-weight: bold;
  font-size: 30px;
  color: #6095A5;
}

.input-div {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 350px;
}

.input-text {
  width: 80%;

  display: inline;
  height: 35px;
  font-size: 12px;
  padding: 0.5% 0.5%;

  border: none;
  outline: none;

  font-family: 'Inter';
}


.small-button:hover {
  background: #215D70;
}


.small-button {
  border-radius: 100%;
  width: 35px;
  height: 35px;
  font-size: 20px;

  border: none;
  outline: none;

  background: #6095A5;
  color: #E7FBFF;
}

/*Cities*/

.cities {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

.city {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 10px;
}

.city-information {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 75%;
  margin: 1%;
  padding: 1%;
}

h4 {
  font-family: 'Inter';
  font-size: 20px;
  color: #215D70;
  font-weight: lighter;

  margin: 0;
}

.city-img-degree{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.icon-city {
  width: 55px;
  height: 55px;
}

.city-tempurature {
  font-family: 'Inter';
  font-size: 20px;
  color: #6095A5;
  font-weight: lighter;
  margin: 0;
}

@media all and (max-width: 768px){
  .flex-main-city {
    flex-direction: column;
  }

  .ul-main-city {
    width: 100%;
  }

  .main-city {
    width: 100%;
  }

  .main-city-info {
    justify-content: center;
  }

  .div-favourites {
    flex-direction: column;
  }

  .cities {
    grid-template-columns: 1fr;
  }

  .refresh-button {
    width: 55px;
  }

}

@media all and (max-width: 360px) {
  body{
    overflow-x: scroll;
  }
}
